 <header class="site-header">
    <div class="header">
      <div class="container">
        <div class="main-navigation">
          <button type="button" class="menu-toggle" (click)="toogleMenu()"><i class="fa fa-bars"></i></button>
          <a [routerLink]="['/']"><logo></logo></a>
          <ul class="menu">
              <li class="menu-item">
                  <a href="/">HOME</a>
              </li>
              <li class="menu-item">
                  <a href="/#services">SERVICES</a>
              </li>
              <li class="menu-item">
                  <a href="/#about">ABOUT</a>
              </li>
              <li class="menu-item">
                <a href="/#plans">PLANS</a>
              </li>
              <li class="menu-item">
                <a href="/#team">TEAM</a>
              </li>
              <li class="menu-item">
                <a href="/#faqs">FAQS</a>
              </li>
              <li class="menu-item">
                <a href="/#ourvision">OUR VISION</a>
              </li>
              <li class="menu-item">
                <a href="/#contact">CONTACT</a>
              </li>
          </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation" *ngIf="visibleMobileMenu">
          <ul class="menu">
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/">HOME</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#services">SERVICES</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#about">ABOUT</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#plans">PLANS</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#team">TEAM</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#faqs">FAQS</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#ourvision">OUR VISION</a>
            </li>
            <li class="menu-item" (click)="toogleMenu()">
              <a href="/#contact">CONTACT</a>
            </li>
          </ul> <!-- .menu -->
        </div>
        <div class="social-links">
            <div class="top">
              <a href="https://www.facebook.com/ContactAttorneyAssitance/" target="_blank"><i class="attorneyicon-social-facebook"></i></a>
              <span class="separator">|</span>
              <a href="https://twitter.com/AAsistance/" target="_blank"><i class="attorneyicon-social-twitter"></i></a>
              <span class="separator">|</span>
              <a href="mailto:contact@attorneyassistance.com" target="_blank"><i class="attorneyicon-at-sign"></i></a>
            </div>
          </div>
      </div>
    </div>

  </header> <!-- .site-header -->
