<div class="container">
  <!-- Content -->
  <section id="content">

    <section>
      <form #quoteForm="ngForm" (ngSubmit)="onSubmit()">
      
        <!-- Test with sections -->
        <section id="three" class="spotlight style3 left">
          <span class="image fit main bottom">
            <img src="images/pic04.jpg" alt="" />
          </span>

          <div class="content">
            <header>
              <h3>Quotation</h3>
            </header>
            
            <div class="row uniform 100%">
              
              <div class="12u">
                <label for="dfrom">{{ 'date_from' | translate }}</label>
                <my-date-picker
                  name="dateFromInput"
                  [options]="myDatePickerOptions"
                  [(ngModel)]="model.dateFrom"
                  placeholder="dd/mm/aaaa"
                  required></my-date-picker>
              </div>
              
              <div class="12u">
                <label for="dto">{{ 'date_to' | translate }}</label>
                <my-date-picker
                  name="dateToInput"
                  [options]="myDatePickerOptions"
                  [(ngModel)]="model.dateTo"
                  placeholder="dd/mm/aaaa"
                  required></my-date-picker>
                    
                <!-- <input
                  type="text"
                  name="daterangeInput"
                  class="form-control"
                  daterangepicker 
                  [options]="options" 
                  (selected)="selectedDate($event)" 
                  required /> -->
              </div>

              <div class="12u">
                <div [hidden]="isValid || isPristine"
                  class="alert alert-danger">
                  The input dates are not valid
                </div>
              </div>

              <div class="12u">
                <ul class="actions">
                  <li><input type="submit" value="Quote now" class="special" [disabled]="!isValid || isPristine" /></li>
                </ul>
              </div>

            </div>

          </div>

          <div class="cont-player">
            <div class="row uniform 100%">

              <div class="12u">
                <div class="placeholder">
                  <youtube-player
                    [playerId]='"player"'
                    [videoId]='"vntAEVjPBzQ"'></youtube-player>
                </div>
              </div>

            </div>
          </div>
        </section>

      </form>
    </section>

  </section>
</div>