<!-- <h1>Quotient Form</h1>
<form #quoteForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="dfrom">{{ 'date_from' | translate }}</label>
    <input type="text" class="form-control" name="daterangeInput" daterangepicker 
      [options]="options" 
      (selected)="selectedDate($event)" 
      required />
    <div [hidden]="isValid || isPristine"
        class="alert alert-danger">
      The input dates are not valid
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!isValid || isPristine" >Quote now</button>
</form> -->

<div class="container">
  <header class="major">
    <h2>Quotient Form</h2>
    <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
  </header>

  <!-- Content -->
  <section id="content">

    <section>
      <form #quoteForm="ngForm" (ngSubmit)="onSubmit()">
      
        <div class="row uniform 50%">
          <div class="12u">
            <label for="dfrom">{{ 'date_from' | translate }}</label>
      
            <input
              type="text"
              name="daterangeInput"
              class="form-control"
              daterangepicker 
              [options]="options" 
              (selected)="selectedDate($event)" 
              required />
      
            <div [hidden]="isValid || isPristine"
                class="alert alert-danger">
              The input dates are not valid
            </div>
          </div>
        </div>
      
        <div class="row uniform 100%">
          <div class="12u">
            <ul class="actions">
              <li><input type="submit" value="Quote now" class="special" [disabled]="!isValid || isPristine" /></li>
            </ul>
          </div>
        </div>
      
      </form>
    </section>

  </section>
</div>