<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/insurance']">Home</a>
    <span>Contact</span>
  </div>
</div>
<div class="page">
  <div class="container">
    <!--<div class="map"></div>-->
    <app-map></app-map>

    <div class="row">
      <div class="col-md-3">
        <h2 class="section-title text-left">Address</h2>

        <div class="contact-detail">
          <address>
            <p>Company Name INC. <br>
              523 Burt Street, Omaha</p>

            <p>Phone: +1 823 424 9134
              info@company.com</p>
          </address>
        </div>
      </div>
      <div class="col-md-9">
        <h2 class="section-title text-left">Contact form</h2>
        <form autocomplete="off" id="contactform" role="form" [formGroup]="contactForm" (ngSubmit)="sendMail($event)" class="contact-form">
          <div class="row">
            <div class="col-md-4">
              <input type="text" formControlName="name" name="name" placeholder="Your name...">
            </div>
            <div class="col-md-4">
              <input type="email" formControlName="email" name="email" placeholder="Email...">
            </div>
            <div class="col-md-4">
              <input type="text" formControlName="website" name="website" placeholder="Website...">
            </div>
          </div>

          <textarea formControlName="description" name="description" placeholder="Message..."></textarea>

          <p class="text-right">
            <input type="submit" value="Send message" [disabled]="(!contactForm.valid)">
            <!--<button type="submit" class="btn btn-primary btn-block" > Send Message</button>-->
          </p>
        </form>

      </div>
    </div>
  </div>
</div>
