<!--breadCrumb-->
<div class="page contact">
  <div class="notification" *ngIf="sent">
    Thank you for contacting us. We will reach you soon.
  </div>
  <div class="container contact">
    <div class="row">
      <div class="col-md-3 details">
        <div class="contact-detail">
          <logo></logo>
          <address>
            <p>Attorney Travel Assistance SRL. </p>
            <p>20 Caminante Street, Rincon de Milberg, Buenos Aires, Argentina</p>

            <p>Phone: +54 11 4871 6347</p>
            <p>contact@attorney-assistance.com</p>
          </address>
        </div>
      </div>
      <div class="col-md-9">
        <form #personalForm="ngForm" (ngSubmit)="sendMail($event)" id="contactform" class="contact-form" method="POST">
          <div class="row">
            <div class="col-md-4">
              <input [maxlength]="70" pattern="[^0-9]{6,70}$" type="text" class="form-control" [(ngModel)]="card.contact.name" id="name" name="name" required #name="ngModel" placeholder="Your name...">
            </div>
            <div class="col-md-4">
              <input [maxlength]="70" pattern=".*@.*\.(.{1,})" type="text" class="form-control" [(ngModel)]="card.contact.email" id="email" name="email" required #email="ngModel" placeholder="Your email...">
            </div>
            <div class="col-md-4">
              <input [maxlength]="70" type="text" class="form-control" [(ngModel)]="card.contact.website" id="website" name="website" #website="ngModel" placeholder="Your Website...">
            </div>
          </div>

          <textarea [maxlength]="250" pattern="[^0-9]{6,250}$" type="text" class="form-control" [(ngModel)]="card.contact.description" id="description" name="description" #description="ngModel" placeholder="Your Message..." required></textarea>

          <div class="pull-left">
            <span [hidden]="name.valid || name.pristine" class="formError">Please enter your name</span>
            <span [hidden]="email.valid || email.pristine" class="formError">Please enter your email</span>
            <span [hidden]="description.valid || description.pristine" class="formError">Please enter your message</span>
          </div>

          <p>
            <input type="submit" value="Send message" [disabled]="(!name.valid || name.pristine || !email.valid || email.pristine || !description.valid || description.pristine || sending)">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
