<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/']">Home</a>
    <span>Contact</span>
  </div>
</div>
<div class="page contact">
  <div class="map">
    <app-map class="map"></app-map>
  </div>
  <div class="container contact">
    <div class="row">
      <div class="col-md-3 details">
        <h2 class="section-title text-left">Address</h2>

        <div class="contact-detail">
          <address>
            <p>Attorney Assistance INC. </p>
            <p>20 Caminante Street, Rincon de Milberg, Buenos Aires, Argentina</p>

            <p>Phone: +54 9 11 5006 1109</p>
            <p>info@attorney-assistance.com</p>
          </address>
        </div>
      </div>
      <div class="col-md-9">
        <h2 class="section-title text-left">Contact form</h2>

        <form #personalForm="ngForm" (ngSubmit)="sendMail($event)" id="contactform" class="contact-form" action="http://themonstera.com/mail.php" method="POST">
          <div class="row">
            <div class="col-md-4">
              <input [maxlength]="70" pattern="[^0-9]{6,70}$" type="text" class="form-control" [(ngModel)]="card.contact.name" id="name" name="name" required #name="ngModel" placeholder="Your name...">
            </div>
            <div class="col-md-4">
              <input [maxlength]="70" pattern=".*@.*\.(.{1,})" type="text" class="form-control" [(ngModel)]="card.contact.email" id="email" name="email" required #email="ngModel" placeholder="Your email...">
            </div>
            <div class="col-md-4">
              <input [maxlength]="70" type="text" class="form-control" [(ngModel)]="card.contact.website" id="website" name="website" #website="ngModel" placeholder="Your Website...">
            </div>
          </div>

          <textarea [maxlength]="250" pattern="[^0-9]{6,250}$" type="text" class="form-control" [(ngModel)]="card.contact.description" id="description" name="description" #description="ngModel" placeholder="Your Message..." required></textarea>

          <div class="pull-left">
            <span [hidden]="name.valid || name.pristine" class="formError">Please enter your name</span>
            <span [hidden]="email.valid || email.pristine" class="formError">Please enter your email</span>
            <span [hidden]="description.valid || description.pristine" class="formError">Please enter your message</span>
          </div>

          <p class="pull-right">
            <input type="submit" value="Send message" [disabled]="(!name.valid || name.pristine || !email.valid || email.pristine || !description.valid || description.pristine)">
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
