<div class="personalData">
  <div class="container" [ngStyle]="{'width.px': getLeftSpace()}">
    <div class="sectionContainer">
      <div class="leftPart pull-left">
        <section class="steps">
          <div class="step step1" (click)="gotoProductSelection()">Product Selection</div>
          <div class="step step2 selected">Personal Data</div>
          <div class="step step3" (click)="gotoCheckout()">Details</div>
        </section>
        <div class="leftContainer">
          <div class="contactForm">
            <form #personalForm="ngForm">
              <div class="form-group">
                <label for="fname">Full Name</label>
                <input [maxlength]="70" pattern="[^0-9]{6,70}$" type="text" class="form-control" [(ngModel)]="card.owner.name" id="fname" name="fname" required #fname="ngModel">
              </div>

              <div class="form-group pportContainer">
                <label for="pport">Passport</label>
                <input type="number" [maxlength]="9" pattern="[0-9]{6,9}$" class="form-control" [(ngModel)]="card.owner.passport" id="pport" name="pport" required #pport="ngModel">
              </div>

              <div class="form-group mailContainer">
                <label for="mail">E-mail</label>
                <input [maxlength]="70" type="email" pattern=".*@.*\.(.{1,})" class="form-control" [(ngModel)]="card.owner.email" id="mail" name="mail" required #mail="ngModel">
              </div>
              <span [hidden]="fname.valid || (fname.pristine && !submitted)" class="formError">Please enter your name</span>
              <span [hidden]="pport.valid || (pport.pristine && !submitted)" class="formError">Please enter your passport number</span>
              <span [hidden]="mail.valid || (mail.pristine && !submitted)" class="formError">Please enter a valid email address</span>
            </form>
            <a (click)="gotoCheckout()" class="button checkout success">Go to checkout</a>
            <input type="button" (click)="gotoProductSelection()" value="Go Back" class="special btn-secondary" />
          </div>
        </div>
      </div>
      <div class="pull-right rightDetails">
        <div class="5u 12u$(medium) details">
          <!-- Content -->
          <section class="content">  
            <section class="planSelectedContainer">
              <div>
                <div class="pull-left iconContainer">
                  <logo-bw></logo-bw>
                </div>
                <div class="pull-left">
                  <h3>Your Selection</h3>
                  <span class="plan">{{ card.package.name }}</span>
                </div>
              </div>
              <div>
                <div class="pull-left iconContainer">
                  <logo-info></logo-info>
                </div>
                <div class="pull-left">
                  <h3>Valid From</h3>
                  <span class="plan">{{ card.package.dateFrom | date:'shortDate' }} <br>to {{ card.package.dateTo | date:'shortDate'}}</span>
                </div>
              </div>
              <div>
                <div class="pull-left iconContainer">
                  <logo-price></logo-price>
                </div>
                <div class="pull-left">
                  <h3>Price</h3>
                  <span class="plan">$ {{ card.package.price }}</span>
                </div>
              </div>          
            </section>
            <section class="detailsText">
                <hr class="detailsSeparator" />
                <header>
                  Details
                </header>
                <p>24/7 Legal services</p>
                <p>All the expenses related to our service are covered, up to u$s50000</p>
                <p>Emergency transportation is included for all family members</p>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>