<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/']">Home</a>
    <span>Plans</span>
  </div>
</div>
<div class="page">
  <div class="container">
    <h3 class="entry-title">Choose your own plan</h3>

    <div>
      <div class="insurance-item col-md-4">
        <div class="insurance-content">
          <div class="insurance-icon"><i class="icon-peoples"></i></div>
          <h3 class="insurance-title">45 Days Pack</h3>
          <p>Ideal for short business trips or vacations, get your countrywide legal assistance, direct family included with no extra charge</p>
          <a (click)="fortyFivePack()" class="button">Buy Now</a>
        </div>
      </div>
      <div class="insurance-item col-md-4">
        <div class="insurance-content">
          <div class="insurance-icon"><i class="icon-peoples"></i></div>
          <h3 class="insurance-title">Year Pack</h3>
          <p>If you need to stay longer or you are a frequent visitor, be covered for a whole year straight, no need to inform when you arrive or leave the country</p>
          <a (click)="yearPack()" class="button">Buy Now</a>
        </div>
      </div>
      <div class="insurance-item col-md-4">
        <div class="insurance-content">
          <div class="insurance-icon"><i class="icon-peoples"></i></div>
          <h3 class="insurance-title">Corporate Pack</h3>
          <p>Have all your employees and their families protected abroad. Contact us so we can tailor a special pack to fit your company's specific needs</p>
          <a [routerLink]="['/contact']" class="button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
