<div class="checkoutContainer">
  <div *ngIf="card.hash" class="container">
    <div class="row 100%">
      <div class="5u 12u$(medium)">
        <!-- Content -->
        <h1>Details</h1>
        <section id="content" class="details">  
          <section>
            <p>Pack: {{ card.package.name }}</p>
            <p>Price: {{ card.package.price }}</p>
            <p>Valid From: {{ card.package.dateFrom | date:'shortDate' }} to {{ card.package.dateTo | date:'shortDate'}}</p>
          </section>
        </section>
      </div>
      <div class="7u 12u$(medium) buttons">
          <section id="content">
            <input type="button" (click)="gotoPersonalData()" value="Go Back" class="special btn-secondary" />
            <app-paypal></app-paypal>
          </section>
      </div>
    </div>
  </div>
</div>