<div class="checkoutContainer">
  <div class="backButton fa fa-caret-left" (click)="gotoPersonalData()"></div>
  <h2>You Are almost there!</h2>
  <div *ngIf="card.hash">
    <div class="sectionContainer">
      <div class="rightDetails">
        <section id="content" class="details">
          <div class="content">
            <div class="planSelectedContainer">
              <div class="dataLoaded">
                <div class="pull-left userIcon">
                  <span class="fa fa-user"></span>
                </div>
                <div class="pull-left personalDetails">
                  <p>
                    <label>{{card.owner.name}}</label>
                  </p>
                  <p>
                    <label>{{card.owner.passport}}</label>
                  </p>
                  <p>
                    <label>{{card.owner.email}}</label>
                  </p>
                </div>
              </div>
              <hr class="detailsSeparator" />
              <div>
                <div class="pull-left iconContainer">
                  <logo-bw></logo-bw>
                </div>
                <div class="pull-left planContainer">
                  <span class="plan">{{ card.package.name }}</span>
                </div>
              </div>
              <div class="pull-left dateContainer">
                <div class="pull-left">
                  <h3>Valid From</h3>
                  <span class="plan">{{ card.package.dateFrom | date:'shortDate' }} <br>to {{ card.package.dateTo | date:'shortDate'}}</span>
                </div>
              </div>
              <div class="pull-right priceContainer">
                <div class="pull-left">
                  <h3>Price</h3>
                  <span class="plan">$ {{ card.package.price }}</span>
                </div>
              </div>
            </div>
            <app-paypal>
              <button (click)="buy()">PAY NOW</button>
            </app-paypal>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
