<div class="page-container product-selection">
  <div class="container">

    <!-- Title -->
    <header class="major">
      <h2>Your request quotation</h2>
    </header>

    <div class="row 100%">
      <div class="6u 12u$(medium) important(medium) infoSelected">
        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <app-form-quotient></app-form-quotient>
          </section>
        </section>
      </div>

      <section class="planSelected">
        <h3>1 Year Package</h3>
        <p>All cool things you have for u$s599</p>
        <footer>
          <ul class="actions">
            <li><a href="#" class="button">More Info</a></li>
          </ul>
        </footer>
      </section>

      <div class="6u 12u$(medium) details">
        <!-- Content -->
        <h4>Details</h4>
        <section id="content">
          <section>
            <p>Pack: {{ card.package.name }}</p>
            <p>Price: {{ card.package.price }}</p>
            <p>Valid From: {{ card.package.dateFrom | date:'shortDate' }} to {{ card.package.dateTo | date:'shortDate'}}</p>
          </section>
        </section>
      </div>
      <a (click)="gotoPersonalData()" class="button confirmButton">Confirm</a>
    </div>
  </div>
</div>
