<div class="site-footer">
  <div class="widget-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Contact</h3>
            <address> 20 Caminante Street, Rincon de Milberg, Buenos Aires, Argentina
            </address>
            <a href="javascript:void(0)">Phone: +54 011 4506 9145</a>
            <a href="mailto:info@company.com">info@attorney-assistance.com</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Company</h3>
            <ul class="no-bullet">
              <li><a href="javascript:void(0)">About us</a></li>
              <li><a href="javascript:void(0)">Infoline</a></li>
              <li><a href="javascript:void(0)">Team</a></li>
              <li><a href="javascript:void(0)">Join us</a></li>
              <li><a href="javascript:void(0)">Cooperation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Products</h3>
            <ul class="no-bullet">
              <li><a href="javascript:void(0)">Life insurance</a></li>
              <li><a href="javascript:void(0)">Home insurance</a></li>
              <li><a href="javascript:void(0)">Car insurance</a></li>
              <li><a href="javascript:void(0)">Business insurance</a></li>
              <li><a href="javascript:void(0)">Investment insurance</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Our Solutions</h3>
            <ul class="no-bullet">
              <li><a href="javascript:void(0)">Presentation</a></li>
              <li><a href="javascript:void(0)">Testimonials</a></li>
              <li><a href="javascript:void(0)">Examples</a></li>
              <li><a href="javascript:void(0)">Our experts</a></li>
              <li><a href="javascript:void(0)">Resources</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Press Room</h3>
            <ul class="no-bullet">
              <li><a href="javascript:void(0)">Advertisement</a></li>
              <li><a href="javascript:void(0)">Interviews</a></li>
              <li><a href="javascript:void(0)">Hot news</a></li>
              <li><a href="javascript:void(0)">Photos</a></li>
              <li><a href="javascript:void(0)">Marketing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="widget">
            <h3 class="widget-title">Resources</h3>
            <ul class="no-bullet">
              <li><a href="javascript:void(0)">Sed imperdiet magna</a></li>
              <li><a href="javascript:void(0)">Pellentesque molestie</a></li>
              <li><a href="javascript:void(0)">Nulla luctus cursus</a></li>
              <li><a href="javascript:void(0)">Ligula vel lacinia</a></li>
              <li><a href="javascript:void(0)">Mauris scelerisque</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="container">
      <nav class="footer-navigation">
        <a [routerLink]="['']">Home</a>
        <a [routerLink]="['/about']">About us</a>
        <a [routerLink]="['/plans']">Insurance plans</a>
        <a [routerLink]="['/resources']">Resources</a>
        <a [routerLink]="['/contact']">Contact</a>
      </nav>

      <div class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
    </div>
  </div>
</div>
