#header {
  background: #fff;

  h1#logo {
    padding: 10px;

    img {
      height: 42px;
    }
  }

  nav {
    ul {
      li {
        a {
          font-weight: normal;
          color: #231f20;
        }
      }
    }
  }
}