<div class="hero-slider homeContainer">
  <div class="container home">
    <div class="leftContent">
      <div class="slide-content">
        <h2 class="slide-title">Get your <strong>Legal Protection</strong> <span class="argentina">in Argentina</span></h2>
        <app-form-quotient></app-form-quotient>
        <div class="quotient-border topleft"></div>
        <div class="quotient-border topright"></div>
        <div class="quotient-border bottomleft"></div>
        <div class="quotient-border bottomright"></div>
      </div>
    </div>
    <h1 class="description col-md-offset-1 red">
      <p>Different rules, <br>safe as home.</p><br>
      <p>Prepaid Legal Services<br>for your trip to Argentina.</p>
    </h1>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block greet-section">
    <div class="container">
      <h2 class="section-title">Prepaid Legal Services</h2>
      <small class="section-subtitle">Travel safe, our local legislation experts will be looking after you and your loved ones</small>

      <div class="row">
        <div class="col-md-3">
          <div class="feature">
            <i class="icon-phone-24"></i>
            <h3 class="feature-title">24 hours service</h3>
            <p>We know that you have trusted us as your attorneys, and we take that trust seriously. We have someone ready to help, 24/7.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <i class="icon-map"></i>
            <h3 class="feature-title">Right next to you</h3>
            <p>From Buenos Aires to Calafate, Quiaca to Ushuaia, all over the country. Our local offices are ready to help you.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <i class="icon-peoples"></i>
            <h3 class="feature-title">Family first </h3>
            <p>All our plans include access to all our legal services for all your direct family members. No additional charge.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <i class="icon-credit-card-hand"></i>
            <h3 class="feature-title">No hidden fees</h3>
            <p>Legal service related expenses are 100% covered, this includes transportation for you and your family too if needed.</p>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="text-center">
        <p>Check our legal services plans. <a [routerLink]="['/plans']">Read more</a>
      </div>
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->

  <div class="fullwidth-block" data-bg-color="#0f75bd">
    <div class="container">
      <div class="testimonial-slider">
        <carousel>
          <slide>
            <blockquote>I was in a car accident while on a business trip to Buenos Aires. I called the emergency line and the whole issue was resolved within an hour or so, they even called the rental company for me.<cite>Brian Fairbanks, NY</cite></blockquote>
          </slide>
          <slide>
            <blockquote>We went to Calafate to see the Perito Moreno glacier and some kid started teasing on my oldest son. They began fighting and the local police took them both in. Attorney Assitance took care of everything and all charges were dismissed.<cite>Stephanie Feldman, Massachusetts</cite></blockquote>
          </slide>
          <slide>
            <blockquote>I got mugged during a photo shoot in Jujuy. The local authorities didn't speak English, so I called Attorney Assistance, they put a lawyer on the line right away, and not only he talked to the police, but he also arranged a flight back to Buenos Aires for me.<cite>Melanie Geddes, California</cite></blockquote>
          </slide>
        </carousel>
      </div>
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->

  <div class="fullwidth-block">
      <div class="container">
        <h2 class="section-title">Plans for every need</h2>
        <div class="row news-list">
          <div class="col-md-4">
            <div class="news">
              <figure>
                <img src="../../../../assets/insurance/dummy/featured-image-1@2x.jpg" alt="">
              </figure>
              <h2 class="entry-title"><a [routerLink]="['/plans']">The members of your family are the most important people in your life, give them the corporate level protection they deserve. Have your family's lawyer at hand, always.</a></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="news">
              <figure><img src="../../../../assets/insurance/dummy/featured-image-2@2x.jpg" alt=""></figure>
              <h2 class="entry-title"><a [routerLink]="['/plans']">Our dedicated team of corporate professionals have extensive experience in criminal, business, and environmental law. Protect your employees and your assets in the region.</a></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="news">
              <figure><img src="../../../../assets/insurance/dummy/featured-image-3@2x.jpg" alt=""></figure>
              <h2 class="entry-title"><a [routerLink]="['/plans']">Our main strategy is to be quick and effective when dealing with any legal issue you may encounter. Assisting you while protecting your privacy, so you can focus on enjoying your stay in Argentina.</a></h2>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .latest-news-section -->

<!-- deshabilitado hasta que se definan los partners
  <div class="fullwidth-block">
    <div class="container">
      <h2 class="section-title">Our partners</h2>
      <div class="partners">
        <a href="#">
          <img src="../../../../assets/insurance/dummy/money-logo.png" alt="">
        </a>
        <a href="#">
          <img src="../../../../assets/insurance/dummy/nyt-logo.png" alt="">
        </a>
        <a href="#">
          <img src="../../../../assets/insurance/dummy/forbes-logo.png" alt="">
        </a>
        <a href="#">
          <img src="../../../../assets/insurance/dummy/wsj-logo.png" alt="">
        </a>
        <a href="#">
          <img src="../../../../assets/insurance/dummy/bbs-logo.png" alt="">
        </a>
      </div> 
    </div> 
  </div>
-->

  <div class="fullwidth-block mapContainer">
    <app-map></app-map>
  </div>
</main>
