<div class="hero-slider homeContainer">
  <div class="white-degrade"></div>
  <div class="container home">
    <h1><span class="bigger">D</span>ifferent <span class="bigger">R</span>ules <span class="bigger">S</span>afe <span class="bigger">A</span>s <span class="bigger">H</span>ome </h1>
    <div class="formQuotient">
      <app-form-quotient></app-form-quotient>
    </div>
    <div class="bottomPart">
      <span class="similTitle">
        Different Rules, Safe as home.
      </span>
      <div class="services">
        <a href="/#services" class="attorneyicon-service-24 service"></a>
        <a href="/#services" class="attorneyicon-marker service"></a>
        <a href="/#services" class="attorneyicon-family service"></a>
        <a href="/#services" class="attorneyicon-no-hidden-fees service"></a>
      </div>
    </div>
  </div>
</div>

<main class="main-content">
  <section class="servicesSection" id="services">
    <div class="container">
      <h2>Prepaid legal services</h2>
      <app-separator-component></app-separator-component>
      <span class="sectionDescription">
        Travel safe, our local legal experts will be looking after you and your loved ones
      </span>
      <div class="servicesContainer">
        <div class="serviceContainer">
          <span class="attorneyicon-service-24 icon"></span>
          <h3>24 Hours service</h3>
          <p>We know that you have trusted us as your attorneys, and we take that trust seriously. We have someone ready to help, 24/7.</p>
        </div>
        <div class="serviceContainer">
          <span class="attorneyicon-marker icon"></span>
          <h3>Right next to you</h3>
          <p>From Buenos Aires to Calafate, Quiaca to Ushuaia, all over the country. Our local offices are ready to help you. </p>
        </div>
        <div class="serviceContainer">
          <span class="attorneyicon-family icon"></span>
          <h3>Family first</h3>
          <p>Each of our plans include access to all our legal services for any of your direct family members. No additional charge.</p>
        </div>
        <div class="serviceContainer">
          <span class="attorneyicon-no-hidden-fees icon"></span>
          <h3>No hidden fees</h3>
          <p>Legal service related expenses are 100% covered, this includes transportation for you and your family too if needed.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="planNeeds" id="plans">
    <div class="container">
      <h2>A plan for every need</h2>
      <app-separator-component></app-separator-component>
      <div class="plans">
        <div class="planItem">
          <div class="image plan1"></div>
          <h3>45 DAYS PLAN</h3>
          <p>
            <span>
              Ideal for short business trips or holidays. Get your countrywide legal assistance, direct family included with no extra charge.
            </span>
          </p>
        </div>
        <div class="planItem">
          <div class="image plan2"></div>
          <h3>YEAR PLAN</h3>
          <p>
            <span>
              If you need to stay longer or you are a frequent visitor, be covered for a whole year straight, no need to inform when you arrive or leave the country.
            </span>
          </p>
        </div>
        <div class="planItem">
          <div class="image plan3"></div>
          <h3>CORPORATE PLAN</h3>
          <p>
            <span>
              Have all your employees and their families protected abroad. Contact us so we can tailor a special plan to fit your company’s specific needs.
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="opinions">
    <div class="container">
      <blockquote *ngIf="actualPage == 1">
        <span class="first">“</span>
        <p>I was in a car accident while on a business trip to Buenos Aires. I called the emergency line and the whole issue was resolved within an hour or so, they even called the rental company for me.</p>
        <span class="end">“</span>
        <label>BRIAN FAIRBANKS, NY</label>
      </blockquote>
      <blockquote *ngIf="actualPage == 2">
        <span class="first">“</span>
        <p>We went to Calafate to see the Perito Moreno glacier and some kid started teasing on my oldest son. They began fighting and the local police took them both in. Attorney Assitance took care of everything and all charges were dismissed.</p>
        <span class="end">“</span>
        <label>STEPHANIE FELDMAN, MASSACHUSETTS</label>
      </blockquote>
      <blockquote *ngIf="actualPage == 3">
        <span class="first">“</span>
        <p>I got mugged during a photo shoot in Jujuy. The local authorities didn't speak English, so I called Attorney Assistance, they put a lawyer on the line right away, and not only he talked to the police, but he also arranged a flight back to Buenos Aires for me.</p>
        <span class="end">“</span>
        <label>MELANIE GEDDES, CALIFORNIA</label>
      </blockquote>
      <div class="paginator">
        <div class="step1 step" [ngClass]="{'active': actualPage === 1}"></div>
        <div class="step2 step" [ngClass]="{'active': actualPage === 2}"></div>
        <div class="step3 step" [ngClass]="{'active': actualPage === 3}"></div>
      </div>
    </div>
  </div>
  <section class="aboutUs" id="about">
    <div class="container">
      <img src="../../assets/insurance/images/grupal.jpg" />
      <div class="text">
        <h2>About Us</h2>
        <app-separator-component></app-separator-component>
        <p>Attorney Travel Assistance is an organization located in Buenos Aires, Argentina. The Company strives to provide legal services for
          all foreign visitors along and across Argentina. Our attorney members are committed to provide high quality legal representation and
          counseling to their clients in a vast variety of matters.
          We have a wide network of attorneys and paralegals ready to walk you through any legal encounter in Argentina from a Passport theft
          to a car crash setting. We got you and your family covered.
        </p>
        <a href="/#contact">
          <button class="contactButton">Contact us</button>
        </a>
      </div>
    </div>
  </section>
  <section class="values" id="ourvision">
    <div class="container">
      <div class="firstLine line">
        <div class="values1">
          <div class="image"></div>
          <p>
            <b>Values</b>
            <span>Our values serve as a compass to our actions and describe how we behave in the world. We are committed in heart and mind to protect our clients from all legal contingencies and language barriers in our country's network. We are taking a leading role in offering a state of the art service for everyone, which stands for our commitment to diversity. We do so, by offering a service free from speculation. Attorney Travel Assistance is committed to bringing equal access to justice for all. Legal issues can be expensive. So we’re leveling the playing field by introducing our prepaid proposal. With affordable access to trusted legal counsel, you can focus more on the issue at hand and less on whether you can afford it or obtain it. All these beliefs inspire our company’s motto “Different rules, safe as home.”</span>
          </p>
        </div>
        <div class="values2">
          <div class="image"></div>
          <p>
            <b>Vision</b>
            <span>Our vision serves as the framework for our Roadmap and guides every aspect of our business by describing what we need to accomplish in order to continue achieving sustainable quality growth. We believe people are the core of any business. So we encourage our team to be the best they can. Attorney Travel Assistance is committed to make a difference by helping build and support sustainable communities. Therefore, we contribute with nonprofit organizations to give back and share our success.</span>
          </p>
        </div>
      </div>
      <div class="secondLine line">
        <div class="values3">
          <p>
            <b>Why Attorney Assistance?</b>
            <span>We extend our service to our client’s family because we believe family to be our most important asset. They deserve the same corporate level protection. Our aim is to provide affordable, accessible legal coverage to as many people as possible in English and in Spanish in all our country network. We are now covering Argentina and we expect to expand our service through the whole LatAm area during the following year. To maximize long-term return to shareholders, while being engaged on our overall responsibilities, we are committed to transparency and compliance with all of the local and international best practices. We have acquired paypal services because it has proven to be the fastest and safest way to make an online payment. Yet, we are certifying all our internal procedures to ensure our services remain state of the art.</span>
          </p>
          <div class="image"></div>
        </div>
        <div class="values4">
          <p>
            <b>Mission</b>
            <span>Our Roadmap starts with our mission, which is enduring. It declares our purpose as a Company and serves as the standard against which we weigh our actions and decisions. We strive to create value and make a difference. In a perfect world, you’d never need a lawyer. But faced upon uncertainty, it helps to have a team of experts on your side right away. We have taken a straightforward, practical approach to legal coverage for foreigners with no residence in the country where they are applying for the service. That is to say, a prepaid plan. No matter what trouble you run into, give Attorney Travel Assistance a call and a local team of lawyers and experts with extensive knowledge of regional laws and regulations will guide you through.</span>
          </p>
          <div class="image"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="ourTeam" id="team">
    <div class="container">
      <div class="topPart">
        <h2>Our Team</h2>
        <app-separator-component></app-separator-component>
      </div>
      <div class="bottomPart">
        <div class="map"></div>
        <div class="pictures">
          <div class="nico">
            <div class="image"></div>
            <div class="info">
              <div class="infoContent">
                <label class="name">
                  Nicolas Granchelli
                </label>
                <label class="position">CEO</label>
                <hr>
                <a href="https://www.linkedin.com/in/nicolas-granchelli/" target="_blank" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
          <div class="caro">
            <div class="image"></div>
            <div class="info">
              <div class="infoContent">
                <label class="name">
                  Carolina Boehler
                </label>
                <label class="position">CCO</label>
                <hr>
                <a href="https://www.linkedin.com/in/carolina-boehler-39505a4a/" target="_blank " class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
          <div class="pablo">
            <div class="image"></div>
            <div class="info">
              <div class="infoContent">
                <label class="name">
                  Pablo Bergonzi
                </label>
                <label class="position">CTO</label>
                <hr>
                <a href="https://www.linkedin.com/in/pablo-bergonzi-81876b11/" target="_blank" class="fa fa-linkedin"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq" id="faqs">
    <div class="start">FAQ</div>
    <div class="main">
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Why do we need Attorney Assistance?</b>
            Fast Access to legal aid is something that visitors typically take for granted while at
            home or in their daily workplace locations, where they are normally familiar with the
            local legal system and language.
            This is not the case when visitors are travelling, so Attorney Assistance provides all
            subscribers with low cost access to legal assistance along and across Argentina.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>What is covered?</b>
            Full details are set out in the Terms &amp; Conditions available on the Attorney Assistance
            website. In brief, the coverage comprises: legal assistance of any sort for the subscribers
            ,including spouses and children.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon important">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>When am I covered?</b>
            You are fully covered ever since you purchase any of our coverage plans on
            the web before or upon arrival to Argentina.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Who is covered?</b>
            Cover is provided to each subscriber and his/her accompanying spouses and children.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Do I need to inform someone about pre-existing legal conditions?</b>
            As long as you are fit to enter Argentina through Customs, you are covered and do not
            need to inform anyone
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Are there any restrictions on where I am covered?</b>
            No. Coverage is available all through the territory of Argentina.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Who do I contact in the event of an incident?</b>
            You can either contact us 24/7 by phone + (5411) 4871-6347, or by email at contact@attorney-assistance.com
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>What details do I need to give?</b>
            The helpline number and email is dedicated to all of our subscribers. You should only provide
            your Name and way of contact. Further information may by be required depending on
            the matter reported so as to assist you better.
          </p>
        </div>
      </div>
      <div>
        <div class="baloon">
          <div class="arrow"></div>
          <div class="hover"></div>
          <div class="arrowEnd"></div>
          <p>
            <b>Is assistance available in different languages?</b>
            Assistance is available in both Spanish and English.
          </p>
        </div>
      </div>
    </div>
    <div class="end">FAQ</div>
  </section>
</main>
