<!-- Title -->
<header class="major">
  <h2>Welcome to Legal Card</h2>
  <p>Let's get started!</p>
</header>

<div class="row 100%">

  <div class="3u 12u$(medium) important(medium)">
    <!-- Sidebar -->
    <section id="sidebar">
      <section>
        <app-form-quotient></app-form-quotient>
      </section>

      <hr />
    </section>
  </div>

  <div class="9u 12u$(medium)">
    <!-- Content -->
    <section id="content">
      <h3>How it works?</h3>

      <youtube-player
        [playerId]='"player"'
        [videoId]='"vntAEVjPBzQ"'></youtube-player>
    </section>

  </div>
</div>
