<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/']">Home</a>
    <span>About Us</span>
  </div>
</div>
<div class="page">
  <div class="fullwidth-block">
    <div class="container">
      <h1 class="entry-title">Why you should choose us?</h1>
      <p>Our main base of operations is located in Buenos Aires at Granchelli attorneys at law buffet, we've been the leading the risk management services in the business world since 1995, now, we offer the same corporate level service to you. We put together an incredible team composed of experts in all different areas of law, our vast network reaches all over the country and, by the end of 2018, we expect to be bringing the same top level attention to the whole Latam region.
      </p>
      <p>
        The mission that drives our efforts is to be your personal lawyers abroad, either if you are representing your company, or you simply are on family vacation, we got your back.
      </p>
      <div class="features">
        <div class="feature-numbered">
          <div class="num">
            <i class="icon-weigher"></i>
          </div>
          <h2 class="feature-title">Insurance Law</h2>
          <p> Risk Management - Strategic Planning - Investigation and Expertise - Claims Service - Civil Liability - Test Preparation</p>
        </div>
        <div class="feature-numbered">
          <div class="num">
            <i class="icon-shirt"></i>
          </div>
          <h2 class="feature-title">Business Law</h2>
          <p> Compliance - Legal Advice for Companies - Corporate Dynamics - Business and Estate Contracts - Crisis, insolvency and corporate restructuring - Negotiation and resolution of Conflicts - Contracts</p>
        </div>
        <div class="feature-numbered">
          <div class="num">
            <i class="icon-hammer"></i>
          </div>
          <h2 class="feature-title">Criminal Law</h2>
          <p> Criminal Defenses - Procedural Resources - Stages of Debate - Counseling - Assistance and Accompaniment in Hearings</p>
        </div>
        <div class="feature-numbered">
          <div class="num">
            <i class="icon-globe"></i>
          </div>
          <h2 class="feature-title">Environmental Law</h2>
          <p> Risk Matrix Design - Protocols - Role Design - Contingency Plan - Incident Management - Closing processes and recovery actions - Business crisis - Image Protection</p>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->

  <div class="fullwidth-block" data-bg-color="#f1f1f1">
    <div class="container">
      <h2 class="section-title">Risk Management</h2>
      <p>Faced with the fluctuating business and financial world, companies need to give up the practice of managing their risks as they arise and provide the means to adapt to new scenarios, only to ensure their potential for growth and permanence. The same happens to people, especially when they are in a different country, with different regulations and laws.</p>

      <p>Everyone is exposed to abductions, robberies, or accidents of any kind, in short, we're all exposed to risks that if materialized would severely affect our activities.</p>

      <p>To be able to quickly evaluate the threat and act accordingly is where we excel, preventing the risk to fully materialize if possible, or resolving the resulting issue at an early stage, in order to minimize its impact and always being careful of your privacy as our client.</p>
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->
</div>
