$apple-blossom: #a94442;
$black: #000000;
$boulder: #777777;
$denim: #0F75BD;
$doger-blue: #1392ec;
$fern: #5cb85c;
$fuit-salad: #4cae4c;
$gray-chateau: #9ba1a6;
$mine-shaft: #222222;
$silver: #CCCCCC;

$heather: rgb(184, 193, 204);
$kashimir-blue: #003875;
$rangoon-green: #11120E;
$roof-terracota: #ad2d1d;
$star-dust: #989995;
$white: #ffffff;

$olso-gray: #898b8d;
$orchid-white: #fffdf3;
$rolling-stone: #768089;
$seashell: #f1f1f1;
$shakespeare: #4795cd;
$silver-chalice: #AAAAAA;
$silver-sand: #c6c7c7;
$tall-poppy: #B12825;

$yellow: #FFFF00;
