$abbey: #4a4c4e;
$black: #000000;
$boulder: #777777;
$denim: #0F75BD;
$gray-chateau: #9ba1a6;
$mine-shaft: #222222;
$silver: #CCCCCC;
$olso-gray: #898b8d;
$rolling-stone: #768089;
$seashell: #f1f1f1;
$shakespeare: #4795cd;
$silver-sand: #c6c7c7;
$white: #ffffff;
$yellow: #FFFF00;