$abbey: #4a4c4e;
$apple-blossom: #a94442;
$black: #000000;
$boulder: #777777;
$denim: #0F75BD;
$doger-blue: #1392ec;
$fern: #5cb85c;
$fuit-salad: #4cae4c;
$gray-chateau: #9ba1a6;
$mine-shaft: #222222;
$silver: #CCCCCC;
$olso-gray: #898b8d;
$orchid-white: #fffdf3;
$rolling-stone: #768089;
$seashell: #f1f1f1;
$shakespeare: #4795cd;
$silver-chalice: #AAAAAA;
$silver-sand: #c6c7c7;
$tall-poppy: #B12825;
$white: #ffffff;
$yellow: #FFFF00;