@font-face {
    font-family: 'Chaparral-regular';
    src: url('../fonts/ChaparralPro-Regular.otf');
}

@font-face {
    font-family: 'Chaparral-bold';
    src: url('../fonts/ChaparralPro-Bold.otf');
}

@font-face {
    font-family: 'American';
    src: url('../fonts/AmericanTypewriter-Bold.ttf');
}

@media (max-width: $mobile) {
	.container {
		max-width: 100%;
		margin: 0 auto !important;
	}
}

video {
  width: 560px;
  z-index: 1;
  position: relative;
  top: -61px;
}

.homeContainer {
  height: 100vh !important;

  .formQuotient {
    margin-top: 80px;
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
}

.leftPart {
	width: 75%;

	@media (max-width: $mobile) {
		width: 100%;
	}
}

.steps {
	@media (max-width: $mobile) {
		display: none;
	}

	.step {
		width: auto;
		height: 37px;
		border: 1px solid $accent-color;
		border-right: 0 none;
		border-radius: 10px;
		background-color: $primary-color;
		margin-bottom: 10px;
		padding-top: 8px;
		padding-left: 12px;
		padding-right: 12px;
		cursor: pointer;
		margin-left: 0;
		float: left;
		margin-top: 15px;
		position: relative;
		margin-right: -17px;

		&.step1 {
			z-index: 3;

			&.selected {
				padding-left: 16px !important;
			}
		}

		&.step2 {
			z-index: 2;
			padding-left: 33px;
		}

		&.step3 {
			padding-left: 40px !important;
		}

		span {
			position: relative;
			z-index: 1;
		}

		.arrowTop {
			width: 23px;
			height: 23px;
			position: absolute;
			background-color: $primary-color;
			right: -9px;
			top: 6px;
			transform: rotate(45deg);
			border-top: 1px solid $accent-color;
			border-right: 1px solid $accent-color;
		}

		&.selected {
			background-color: $accent-color;
			border-color: $accent-color;
			height: 37px;
			float: left;
			width: auto;
			padding-left: 37px !important;
			padding-right: 10px;
			margin-left: -2px;
			padding-top: 8px;

			.arrowTop {
				background-color: $accent-color;
				right: -7px !important;
			}

			span {
				color: $white !important;
			}
		}
	}
}

.formError {
	font-size: 12px;
	color: $second-accent-color;
	display: block;
}

.header .container {
	display: flex;
	justify-content: space-between;

	@media (max-width: $mobile) {
		display: block !important;
	}
}

.mapLink {
	display: block;
	height: 100%;
	width: 100%;
	background-position: 50%;
}

.page.contact {
	padding-top: 0;

	.details {
		&.fixed {
			position: fixed;
			top: 274px;
			width: 250px;
			background-color: white;

			@media (max-width: $mobile) {
				position: relative;
				top: 15px;
				margin-bottom: 70px;
			}
		}
	}

	.map {
		height: 450px;
		overflow: hidden;
		@media (max-width: $mobile) {
			height: 300px;
			min-height: 300px;
		}

		img {
			width: 100%;
			margin-top: -200px;

			@media (max-width: $mobile) {
				margin-left: -230px;
				margin-top: -140px;
				height: 600px;
				width: auto;
			}
		}
	}
}

.page.cancelled {
	.container {
		background-color: transparentize($primary-color, 0.1);
		padding: 30px;
		border: 2px solid $accent-color;
		box-shadow: 0 0 13px 0px $primary-color;
		border-radius: 3px;
		position: relative;
		@media (max-width: $mobile) {
			width: 90%;
		}
	}
}

.page.success {
	background-image: url('../images/background.png');
    background-position-x: 50%;
	background-position-y: 31%;
	background-repeat: no-repeat;

	.container {
		background-color: transparentize($primary-color, 0.1);
		padding: 30px;
		border: 2px solid $accent-color;
		box-shadow: 0 0 13px 0px $primary-color;
		border-radius: 3px;
		position: relative;
		@media (max-width: $mobile) {
			width: 90%;
		}
	}
}

.red p:first-child {
	color: $second-accent-color;
}

.homeContainer {

  .home {
    position: relative;
    height: 100%;

    .bottomPart {
      position: absolute;
      right: 0;
      bottom: 25px;

      .similTitle {
        font-family: oswald;
        font-size: 25px;
        text-transform: uppercase;
        text-shadow: 0 0px 11px white;
        float: left;
        margin-right: 64px;
        margin-top: -15px;
      }

      .services {
        float: left;
        .service {
          background-color: #05356b;
          display: inline-block;
          height: 33px;
          border: 3px solid #385b7a;
          padding: 1px;
          border-radius: 6px;
          cursor: pointer;
          position: relative;

          &:hover {
            height: 51px;

            &.attorneyicon-service-24 {
              &:after {
                content: "24 hours service";
                position: absolute;
                color: white;
                font-family: oswald;
                font-weight: 300;
                bottom: -25px;
                left: -26px;
                text-align: center;
                white-space: nowrap;
                font-size: 14px;
                text-shadow: #231f20 2px 0px 10px, #231f20 1.75517px 0.958851px 10px, #231f20 1.0806px 1.68294px 10px, #231f20 0.141474px 1.99499px 10px, #231f20 -0.832294px 1.81859px 10px, #231f20 -1.60229px 1.19694px 10px, #231f20 -1.97998px 0.28224px 10px, #231f20 -1.87291px -0.701566px 10px, #231f20 -1.30729px -1.5136px 10px, #231f20 -0.421592px -1.95506px 10px, #231f20 0.567324px -1.91785px 10px, #231f20 1.41734px -1.41108px 10px, #231f20 1.92034px -0.558831px 10px;
              }
            }

            &.attorneyicon-marker {
              &:after {
                content: "Right next to you";
                position: absolute;
                color: white;
                font-family: oswald;
                font-weight: 300;
                bottom: -25px;
                left: -26px;
                text-align: center;
                white-space: nowrap;
                font-size: 14px;
                text-shadow: #231f20 2px 0px 10px, #231f20 1.75517px 0.958851px 10px, #231f20 1.0806px 1.68294px 10px, #231f20 0.141474px 1.99499px 10px, #231f20 -0.832294px 1.81859px 10px, #231f20 -1.60229px 1.19694px 10px, #231f20 -1.97998px 0.28224px 10px, #231f20 -1.87291px -0.701566px 10px, #231f20 -1.30729px -1.5136px 10px, #231f20 -0.421592px -1.95506px 10px, #231f20 0.567324px -1.91785px 10px, #231f20 1.41734px -1.41108px 10px, #231f20 1.92034px -0.558831px 10px;;
              }
            }

            &.attorneyicon-family {
              &:after {
                content: "Family First";
                position: absolute;
                color: white;
                font-family: oswald;
                font-weight: 300;
                bottom: -25px;
                left: -12px;
                text-align: center;
                white-space: nowrap;
                font-size: 14px;
                text-shadow: #231f20 2px 0px 10px, #231f20 1.75517px 0.958851px 10px, #231f20 1.0806px 1.68294px 10px, #231f20 0.141474px 1.99499px 10px, #231f20 -0.832294px 1.81859px 10px, #231f20 -1.60229px 1.19694px 10px, #231f20 -1.97998px 0.28224px 10px, #231f20 -1.87291px -0.701566px 10px, #231f20 -1.30729px -1.5136px 10px, #231f20 -0.421592px -1.95506px 10px, #231f20 0.567324px -1.91785px 10px, #231f20 1.41734px -1.41108px 10px, #231f20 1.92034px -0.558831px 10px;;
              }
            }

            &.attorneyicon-no-hidden-fees {
              &:after {
                content: "No Hidden Fees";
                position: absolute;
                color: white;
                font-family: oswald;
                font-weight: 300;
                bottom: -25px;
                left: -21px;
                text-align: center;
                white-space: nowrap;
                font-size: 14px;
                text-shadow: #231f20 2px 0px 10px, #231f20 1.75517px 0.958851px 10px, #231f20 1.0806px 1.68294px 10px, #231f20 0.141474px 1.99499px 10px, #231f20 -0.832294px 1.81859px 10px, #231f20 -1.60229px 1.19694px 10px, #231f20 -1.97998px 0.28224px 10px, #231f20 -1.87291px -0.701566px 10px, #231f20 -1.30729px -1.5136px 10px, #231f20 -0.421592px -1.95506px 10px, #231f20 0.567324px -1.91785px 10px, #231f20 1.41734px -1.41108px 10px, #231f20 1.92034px -0.558831px 10px;;
              }
            }

            &:before {
              font-size: 43px;
            }
          }

          &:before {
            color: white;
            font-size: 25px;
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }
  }

  .formQuotient {
    width: 32%;
    background-color: rgba(36,36,36, 0.93);
    border: 3px solid white;
    padding: 15px 13px 13px 13px;

    footer {
      li {
        text-align: center;
      }
    }

    form {
      .row {
        margin: 0 !important;
      }

      label {
        color: white;
        font-family: monserrat;
        font-weight: 100;
        font-family: 20px;
        text-transform: uppercase;
      }

      .mydp {
        border: 3px solid white;

        .btnclear {
          display: none;
        }

        .mydpicon {
          &:before {
            color: white;
          }
        }

        input {
          color: white;
        }
      }
    }
  }

  .white-degrade {
    background: linear-gradient(to right, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.1) 60%);
    position: absolute;
    height: 100%;
    width: 100%;
  }
  background-position: 70% 50%;
  background-size: cover;
	height: 90vh;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;

	.description {
		font-family: 'American';
		color: darken($accent-color, 15%);
		float: left;
		position: relative;
		top: 104px;

		@media (max-width: $mobile) {
			position: initial;
			p {
				color: $white !important;
				text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
			}
		}
	}

	@media (max-width: $mobile) {
		background-position: 80% 0%;
		height: 130vh;

	}
}

.page .insurance-item p {
	height: 150px;
}

.formQuote {
	margin-bottom: 40px;
	@media (max-width: $mobile) {
		padding: 0 15px;

		> div,
		> section {
			width: 100% !important;
		}
	}
}

.main-navigation {
	.menu {
		a {
			color: transparentize($white, 0.3) !important;

			&:hover {
				color: $white !important;
			}
		}
	}
	@media (max-width: $mobile) {
		width: 100%;

		.menu-toggle {
			float: left;
			i:before {
				color: $white;
			}
		}

		> a {
			float: right;

			svg {
				border: 0 none;
				width: 107px;
			}
		}
	}
}

main {
	i {
		margin-top: 20px;

		&:before {
			color: $second-accent-color !important;
		}
	}
}

h3 {
	margin-top: 0 !important;
	font-family: 'Chaparral-regular' !important;
	color: $second-accent-color !important;
}

h2 {
	color: $accent-color !important;
	font-family: 'Chaparral-regular' !important;
}

small {
	color: $secondary-color;
	font-family: 'Chaparral-regular';
}

* {
	transition: all 0.15s ease-in-out;
}

*[required] {
	transition: all 0.15s ease-in-out !important;
}

.ng-valid[required], .ng-valid.required  {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  }

  .ng-invalid:not(form)  {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 5px solid $second-accent-color;
  }

* {
	color: $text-color;
}

.mapContainer {
	overflow: hidden;
	height: 500px;
	text-align: center;
	cursor: pointer;

	a {
		@media (max-width: $mobile) {
			display: block;
			overflow: hidden;
		}
	}

	img {
		margin-top: -250px;

		@media (max-width: $mobile) {
			width: 200%;
			margin-left: -50%;
			margin-top: -20%;
		}
	}
}

header {
	.phone {
		color: $white;
		font-family: 'Chaparral-bold';
		font-weight: bold;
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		font-size: 23px;
		margin-top: 19px;
		float: left;
		margin-left: 29px;
		margin-right: 29px;
		i:before {
			color: $white !important;
		}
		&.mobile {
			display: none;
			position: absolute;
			top: -8px;
			left: 49px;

			i:before {
				color: white;
			}
		}
		@media (max-width: $mobile) {
			display: none;

			&.mobile {
				display: block;
			}
		}

		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-shadow: none;

			i:before {
				color: $white;
			}
		}

		i {
			padding-right: 5px;

			&:before {
				color: #ad2d1d;
			}
		}
	}

	.bottom-footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

	svg {
		width: 200px;
		margin-bottom: 0px;
		padding-right: 20px;
		margin-top: 8px;
		float: left;
	}

	ul {
		float: left;
		margin-left: 20px;
		margin-top: 24px !important;
	}

	.social-links {
		a {
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 1.8;
			color: #a3a4a4;
			margin-left: 1px;
			display: inline-block;
			transition: .3s ease;
			margin-bottom: 4px;
			cursor: pointer;
			margin-top: 15px;
		}

    .separator {
      color: #a3a4a4;
      position: relative;
      top: -8px;
    }
		i {
      color: #a3a4a4;
      font-size: 27px;

      &:hover{
        color: $white !important;
        border-color: $white !important;
      }
		}
	}
}

.quotientContainer {
	position: relative;
}

a {
	&.button {
		cursor: pointer;

		&:hover {
			color: $white;
		}
	}

	&.success {
		background-color: $fern;
		border-color: $fuit-salad;
	}
}

button {
	&.btn-success {
		padding: 10px;
		font-family: roboto condensed;
		font-weight: 300;
		font-size: 16px;
		float: right;
	}
}

input[type='button'],
input[type='image'] {
	&.btn-secondary {
		padding: 10px;
		margin-top: 20px;
		transition: .3s ease;
		color: black;
		font-family: roboto condensed;
		font-weight: 300;
		border-radius: 3px;
		border: 0 none;
		background-color: #CCC;

		&:hover {
			background-color: buttonface;
		}
	}

	&.btn-primary {
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		transition: .3s ease;
		color: $white;
		font-family: roboto condensed;
		font-weight: 300;
		border-radius: 3px;
		border: 0 none;
		background-color: $accent-color;

		&:hover {
			background-color: $doger-blue;
		}
	}
}

input[disabled] {
	background-color: lighten($accent-color, 30%) !important;
	cursor: not-allowed !important;

	&:hover {
		background-color: lighten($accent-color, 30%) !important;
		cursor: not-allowed !important;
	}
}

div.disabled {
	input.btn-primary {
		background-color: lighten($accent-color, 30%) !important;
		cursor: not-allowed !important;

		&:hover {
			background-color: lighten($accent-color, 30%) !important;
			cursor: not-allowed !important;
		}
	}

	img {
		cursor: not-allowed !important;
	}
}

input {
	&.ng-touched.ng-invalid {
		border-color: $apple-blossom;

		&:focus {
			border-color: $tall-poppy !important;
		}
	}
}

carousel{
  .carousel-control {
    display: none;
  }
  .carousel.slide{
    .carousel-indicators {
      bottom: -10%;
      li {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.leftContent {
	width: 25%;
	float: left;

	@media (max-width: $mobile) {
		width: 100%;
	}
}

.checkoutContainer {
	.buttons {
		margin-right: 5%;
	}

  .dateContainer,
  .priceContainer {
    width: auto !important;
    clear: none !important;
  }

  .userIcon {
    width: auto !important;
  }

  .planContainer {
    width: auto !important;
  }

  .personalDetails {
    width: 90% !important;
  }

	.leftContainer {
		.cardContent {
			background-color: transparentize($white, 0.05);
			padding: 20px;
			border-radius: 4px;
			width: 90%;
			margin-left: 5%;

			p {
				text-align: center;

				&.bold {
					font-weight: bold;
				}
			}

			h1 {
				top: 0;
				width: 100%;
				text-align: center;
				margin-top: 0;
				margin-bottom: 20px;
				color: $second-accent-color;
			}
		}
		.content {
			width: 90%;
			position: absolute;
			bottom: 0;
			margin-left: 5%;

			.buttons {
				width: 100%;
			}

			.confirmButton {
				float: right !important;

				input {
					margin-bottom: 0;
				}
			}
		}
	}
}

.personalData {
	.leftContainer {
		.contactForm {
			width: 100% !important;
			margin-right: 0;
			margin-bottom: 40px;
		}
	}

  .actions {
    top: 60px !important;
  }

	@media (max-width: $mobile) {
		h1 {
			padding: 0 15px !important;
		}
		.pageContainer {
			padding: 0 15px;

			> form,
			> div {
				width: 100%;
			}
		}
	}

	.checkout {
		margin-top: 20px;
		float: right;
	}

	form {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		margin-top: 20px;
		height: 240px;

		input {
      background-color: transparent;
      border: 3px solid white;
      border-radius: 0;
      color: white;
      font-size: 18px;
      height: 43px;
		}
	}
}

.planSelectedContainer hr {
	width: 100% !important;
	margin-top: 0;
}

.personalDetails {
	width: 90%;
	margin-left: 5px;

	label {
		font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
	}
}

.checkoutContainer {
	.details {
		.content {
			padding-top: 10px !important;
		}
	}

	@media (max-width: $mobile) {
		.content {
			position: initial !important;
			margin-top: 60px;
		}
	}
	.buttons {
		float: right;
		clear: both;

		#content {
			& > * {
				float: left;
			}
			&> input {
				margin-right: 20px;
			}
		}
	}
}

.dataLoaded {
	margin-bottom: 0 !important;
}

.product-selection,
.personalData,
.checkoutContainer {
	h1 {
		font-family: 'American';
		width: 75%;
		text-align: center;
		color: darken($accent-color, 15%);
		text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;

		@media (max-width: $mobile) {
			position: initial !important;
			width: 100%;
		}
	}

	h4.subtitle {
		font-family: 'American';
		color: $white;
		position: relative;
		width: 75%;
		float: left;
		margin-bottom: -22px;
		font-size: 20px;
		font-style: italic;
		text-shadow: -1px -1px 2px darken($accent-color, 15%), 1px -1px 2px darken($accent-color, 15%), -1px 1px 2px darken($accent-color, 15%), 1px 1px 2px darken($accent-color, 15%);
		text-align: center;
		position: relative;
		top: 40px;

		@media (max-width: $mobile) {
			position: initial !important;
			width: 100% !important;
			margin-bottom: 30px;
		}
	}

	.details {
		background-color: $orchid-white;
		margin-top: 20px;
		border-radius: 4px;
		padding: 0px !important;
		height: 240px;
		box-shadow: 0px 0 6px -1px $silver-chalice;
		margin-bottom: 20px;
		@media (max-width: $mobile) {
			height: 100% !important;
		}
	}
}

.paypalIcon {
	width: 90%;
}

.sectionContainer {
	display: flex;

  .pull-left {
    width: 100%;
  }

	@media (max-width: $mobile) {
		display: block;
	}
}

.btn-secondary {
    padding: 16px 16px !important;
	border-radius: 9px !important;
}

.button.success {
	text-align: center !important;
    padding: 16px 16px !important;
	border-radius: 9px !important;
	background-color: $accent-color !important;

	&:hover {
		background-color: lighten($accent-color, 15%) !important;
	}
}

.pull-left {
	float: left;
}

.rightDetails {
  width: 100%;
}

.product-selection,
.personalData,
.checkoutContainer {
	background-position: 50%;

	.details {
		.content {
			.planSelectedContainer {
				width: 100%;
				padding: 14px;
				padding-bottom: 0;
				overflow: hidden;

				> div {
					display: block;
					clear: both;
					overflow: hidden;
					margin-bottom: 18px;
				}

				h3 {
					color: $white !important;
					font-size: 15px;
					font-family: arial !important;
					text-decoration: underline;
					font-weight: 300 !important;
				}

				span.plan {
					color: #aeb0b3;
					font-weight: bold;
				}

				.iconContainer {
					width: 14%;
					margin-right: 15px;
				}

				svg {
					width: 100%;
				}
			}
		}
	}

	.detailsTitle {
		font-family: 'American';
		margin-left: 7px;
	}

	h4.subtitle {
		position: relative;
		top: 75px !important;
	}

	.container {
		margin-right: 0;
		padding-right: 0;
	}

	.leftContainer {
		width: 100%;
		float: left;

		@media (max-width: $mobile) {
			width: 95%;
			height: auto;
		}

		.contactForm {
			width: 100%
		}
	}

	.details {
		margin-top: 0px;
		border-radius: 4px;
		height: 100%;
		background-color: transparent;
		box-shadow: none;

		@media (max-width: $mobile) {
			float: left;
			top: 0;

			.content {
				width: 95%;
			}
		}

		.detailsSeparator {
			width: 90%;
			float: left;
		}

		.detailsText {
			header {
				display: block;
				clear: both;
				width: 90%;
				font-weight: bold;
				text-align: center;
			}

			p {
				width: 90%;
				text-align: center;
				margin-top: 10px;
			}
		}

		.content {
			height: 100%;
			display: block;
		}

		* {
			color: $white;
		}
	}
}


.product-selection,
.personalData,
.checkout{
  h2 {
    font-size: 22px;
    margin: 0;
  }

  .actions {
    clear: both;
    text-align: center;
    position: relative;
    top: -18px;
  }

	.infoSelected {
		background-color: $white;
		margin-top: 20px;
		float: left;
		border: 1px solid $silver;
		height: 300px;
		position: relative;
		float: left;
		width: 35%;
		margin-right: 4%;
		border-radius: 3px;
		background-color: transparentize($primary-color, 0.1);
		border: 1px solid $accent-color;
		padding: 10px 30px 0 30px;
		border-width: 2px;
		box-shadow: 0 0 13px 0px $primary-color;

		footer {
				input {
					position: absolute;
					right: 20px;
					bottom: 20px;
				}
		}
	}

  .package {
    .moreInfo {
      font-family: 'Chaparral-regular';
      color: white;
      text-decoration: underline !important;
      font-size: 18px;
    }

    .checkbox {
      margin-top: 37px;
      display: block;
      float: right;
      background-color: #282828;
      border: 3px solid white;
      width: 35px;
      height: 35px;
    }

    &:hover {
      border-color: #793131 !important;

      h3 {
        color: #793131 !important;
      }
    }

    h3 {
      color: #173657 !important;
      font-family: monserrat-bold !important;
      font-size: 18px;
      text-transform: uppercase;
    }

    p {
      font-family: monserrat;
      color: black;
      text-transform: uppercase;
    }
  }

	.planSelected {
		margin-top: 20px;
		position: relative;
		width: 100%;
		float: left;
		margin-bottom: 20px;

    .checkbox {
      margin-top: 10px !important;
    }

		.packageSep {
			border-color: $black;
      margin: -3px 0 2px;
    }

		.package {
      background-color: #909192;
      border: 3px solid #b0b0b1;
      margin-bottom: 22px;

      &.selected {
        background-color: #D2D2D4;
        border: 3px solid #793131;

        .checkbox {
          background-color: #909092;
          border-color: #932c2c;
        }

        .checked {
          display: block;
          margin-top: 7px;
          margin-left: 7px;
          color: white;
          text-shadow: 0px 0px 4px #932c2c;
        }

        h3 {
          color: #932c2c !important;
        }

        .moreInfo {
          color: black;
        }
			}

			cursor: pointer;

			.content {
        padding: 14px 21px 12px;
        transition: all 0.15s ease-in-out;

				&:hover {
					background-color: #D2D2D4;

          p {
            color: black !important;
          }

					.moreInfo {
						color: darken($accent-color, 15%) !important;
						font-weight: bold;
						text-decoration: underline !important;
					}

					p {
						color: $white;
					}
				}
			}

			header {
				h3 {
					display: inline-block;
				}

				.checked {
					font-size: 42px;
					color: transparentize($black, 0.4);
					transition: all 0.15s ease-in-out;
          display: none;

					&:hover {
						color: $accent-color !important;
					}
				}

				.moreInfo {
					float: right;
					margin-top: -30px;
					color: darken($accent-color, 15%);
				}
			}
		}
	}

	.confirmButton {
		clear: both;
		width: 200px;
		display: block;
		position: relative;
		margin: 20px auto 0 auto !important;
	}
}

.quotient-border {
	position: absolute;
	width: 30px;
	height: 30px;

	&.topleft {
		top: -10px;
		left: -10px;
		border-top: 2px solid $accent-color;
		border-left: 2px solid $accent-color;
	}

	&.topright {
		top: -10px;
		right: -10px;
		border-top: 2px solid $accent-color;
		border-right: 2px solid $accent-color;
	}

	&.bottomleft {
		bottom: -10px;
		left: -10px;
		border-bottom: 2px solid $accent-color;
		border-left: 2px solid $accent-color;
	}

	&.bottomright {
		bottom: -10px;
		right: -10px;
		border-bottom: 2px solid $accent-color;
		border-right: 2px solid $accent-color;
	}
}

.hero-slider{
	position: relative;
  	.container {
      	@media screen and (max-width: 990px){
			left: 0;
			position: absolute;
		}
  	}
	.carousel.slide{
    	.carousel-indicators {
			bottom: -10%;

			li {
				background-color: $silver-sand;
				height: 15px;
				width: 15px;
			}

			.active{
				background-color: $accent-color;
			}
		}
		@include clearfix;

		.carousel-item {
			.item {
				width: 100%;
				img {
					min-height: auto;
					width: 220%;
					max-width: 128%;
					position: relative;
					left: -10%;
				}
			}
		}
	}

	.slide-content{
		border-radius: 3px;
		background-color: transparentize($primary-color, 0.1);
		border: 1px solid $accent-color;
		width: 100%;
		padding: 10px 30px 0 30px;
		margin-top: 80px;
		margin-bottom: 30px;
		position: relative;
		float: left;

		border-width: 2px;
		box-shadow: 0 0 13px 0px $primary-color;

		@media screen and (max-width: 990px){ width: 50% }
		@media screen and (max-width: 480px){ width: 100% }

		.form-element{
			padding-bottom: 5px !important;
		}

		.slide-title{
			@include em(35);
			font-weight: 300!important;
			margin-bottom: 30px;
			font-family: 'Chaparral-regular';
			color: $white;

			strong{
				color: $second-accent-color;
				display: block;
				font-weight: 300!important;
			}
		}

		p{
			line-height: 2;
			margin-bottom: 50px;
		}
	}

	.flex-control-nav{
		list-style: none;
		position: absolute;
		bottom: -50px;
		width: 100%;
		text-align: center;

		li{
			display: inline-block;
			margin: 0 5px;

			a{
				display: block;
				width: 15px;
				height: 15px;
				background-color: $silver-sand;
				border-radius: 50%;
				overflow: hidden;
				text-indent: -99999px;
				cursor: pointer;

				&.flex-active{
					background-color: $accent-color;
				}
			}
		}
	}
}

.mtl20 {
	margin-top: -20px;
}

.bottomText {
	font-family: 'American';

	p {
		color: darken($accent-color, 15%);
	}
}

.discount {
    width: 11%;
    -webkit-transform: rotate(26deg);
    transform: rotate(26deg);
    position: absolute;
    right: 45px;
    top: 30px;
	@media (max-width: $mobile) {
		width: 21%;
		top: 90px;
		z-index: 2;
	}
}

.argentina {
    background-image: url(http://flagpedia.net/data/flags/ultra/ar.png);
    width: 107%;
    display: block;
    background-size: 17%;
    background-repeat: no-repeat;
	background-position: 100% 50%;
	@media (max-width: $mobile) {
		width: 100%;
	}
}

.notification {
	position: fixed;
    top: 35px;
    width: 100%;
    text-align: center;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.fullwidth-block{
	padding: 50px 0;
}

.section-title,.section-subtitle{
	font-weight: 300!important;
	margin-bottom: 50px;
	text-align: center;
	display: block;
}
.section-title{
	@include em(48);
}
.section-subtitle{
	@include em(30);
	margin-top: -50px;
	margin-bottom: 50px;
}

.feature{
	margin-bottom: 30px;
	text-align: center;

	i{
		@include em(48);
		color: $accent-color;
		display: inline-block;
		margin-bottom: 20px;
	}
	.feature-title{
		@include em(20);
		margin-bottom: 20px;
		color: $accent-color;
		font-weight: 400!important;

	}
}

.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

.offer{
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;

	.caption{
		position: absolute;
		background-color: rgba(0,0,0,.3);
		color: $white;
		width: 100%;
		padding: 20px;
	}
	&.caption-top .caption{top: 0}
	&.caption-bottom .caption{bottom: 0}

	img{
		display: block;
		max-width: 100%;
		width: 100%;
		height: auto;
	}
	.offer-title{
		margin: 0;
	}

  &:hover{
    img{
      transform: scale(1.2);
      transition: 1s linear;
    }
  }
}

.news-list{margin-top: 50px}
.news{
	figure{
		margin-bottom: 20px;
		overflow: hidden;
		img{
			display: block;
			max-width: 100%;
			width: 100%;
		}
    &:hover {
      img{
        transform: scale(1.2);
        transition: 1s linear;
      }
    }
	}
	.date{
		@include em(14);
		img{margin-right: 10px}
	}
	.entry-title{
		@include em(16);
		font-weight: 300!important;
		a{
			color: $body-color;
			transition: .3s ease;

			&:hover{ color: $accent-color }

			&:after{
				content:" ";
				display: inline-block;
				margin-left: 10px;
				width: 10px;
				height: 7px;
				background: url("images/arrow-blue.png");
			}
		}
	}
}

.testimonial-slider{
	color: $white;
	position: relative;

  	.carousel.slide{
		list-style: none;
		@include clearfix;

		.carousel-indicators {
			bottom: -10%;

			li {
				background-color: $white;
				height: 15px;
				width: 15px;
			}

			.active{
				background-color: $shakespeare ;
			}
		}
	}

	blockquote{
		@include em(30);
		text-align: center;
    	border: none;
    	padding: 60px 20px;
    	margin: 0px;

		cite{
			@include rem(15);
			text-transform: uppercase;
			margin-top: 30px;
			display: block;
			font-style: normal;
		}
	}

	.carousel-indicators{
		position: absolute;
		bottom: 30px;
		width: 100%;
		text-align: center;
		list-style: none;
		z-index: 99;
		left: 30%;

		li{
			display: inline-block;
			margin: 0 5px;

			a{
				overflow: hidden;
				text-indent: -9999px;
				background: $shakespeare;
				border-radius: 50%;
				display: block;
				width: 15px;
				height: 15px;
				cursor: pointer;

				&.flex-active{
					background-color: $white;
				}
			}
		}
	}
}

.partners{
	text-align: center;
	margin-top: 50px;

	a{
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 10px;
	}
}

.page{
	padding: 50px 0;
	.entry-title{
		@include em(48);
		font-weight: 300 !important;
	}

	p {
		line-height: 2
	}

	.row {
		margin: 25px -15px;
	}
}

.features {
	@include clearfix;
	margin: 0 -15px;
	position: relative;
	z-index: 1;

	&:after {
		content:" ";
		height: 50px;
		top: 50px;
		left:15px;
		right:15px;
		position: absolute;
		background: url(images/dotted.png) repeat-x;
		z-index: -1;
		@media screen and (max-width: 768px){
			display: none;
		}
	}

	.feature-numbered {
		width: 25%;
		float: left;
		padding: 15px;
		text-align: center;

		@media screen and (max-width: 768px){
			width: 50%;
		}
		@media screen and (max-width: 480px){
			width: 100%;
		}


		.num {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 2px solid $accent-color;
			color: $accent-color;
			text-align: center;
			@include em(36);
			line-height: 1.8;
			font-weight: 400!important;
			margin: 0 auto 20px;
			background-color: $white;
			box-shadow: 0 0 0 10px $white;
		}

		.feature-title {
			@include em(20);
			color: $accent-color;
			font-weight: 400!important;
		}
	}
}

.team{
	text-align: center;
	margin-top: 50px;
	.team-image{
		overflow: hidden;
		border-radius: 50%;
		width: 230px;
		height: 230px;
		margin: 0 auto 30px;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	.team-name,.team-title{
		@include em(16);
	}
	.team-name{
		margin-bottom: 0;
	}
	.team-title{
		font-style: italic;
		display: block;
		margin-bottom: 20px;
	}

	.social-links{
		float: none;
		display: inline-block;

		a{
			background: $accent-color;
			border: none;
			@include em(14);
			line-height: 2;
		}
	}
}

.colophon {
	color: $white !important;
}

.pictureBlock {
	h3 {
		color: $white !important;
	}

	small {
		color: $white;
	}
}

.mydp { // My Date Picker

	input {
		background-color: $white;
		&:focus {
			border-color: $shakespeare !important;
		}
	}

	.selector {
		.monthlabel,
		.yearlabel {
			color: $boulder !important;
		}
	}
}

.filterable-nav{
	margin: 50px 0 30px;
	.mobile-filter{
		display: none;
	}
	strong {
		font-weight: 300!important;
		margin-right: 10px;
	}

	a{
		padding: 10px 20px;
		border-radius: 3px;
		border: 1px solid $silver;
		color: $body-color;
		display: inline-block;
		margin-bottom: 10px;
		transition: .3s ease;


		&.current, &:hover{
			color: $accent-color;
			border-color: $accent-color;
		}
	}
}
.filterable-items{
	margin: 0 -15px;
	transition: .3s ease;
}
.insurance-item{
	width: 33.3333%;
	padding: 15px;

	@media screen and (max-width: 990px){
		width: 50%;
	}
	@media screen and (max-width: 480px){
		width: 100%;
	}
	.insurance-icon{
		@include em(48);
		color: $accent-color;
		margin-bottom: 20px;
	}
	.insurance-content{
		background: $seashell;
		border-radius: 3px;
		padding: 30px;
		text-align: center;
	}
	.insurance-title{
		@include em(36);
		font-weight: 300!important;
		color: $accent-color;
	}
}

.pagination{
  display: block !important;
	text-align: center;
	margin-top: 40px;

	span,a{
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		line-height: 1.8;
		transition: .3s ease;
	}
	span.current,a:hover{
		background-color: $accent-color;
		color: $white;
		border: 1px solid $accent-color;
	}
	a{
		border: 1px solid $silver;
		color: $body-color;
	}
}

.arrow-list{
	list-style: none;
	margin-bottom: 30px;

	li{
		padding-left: 20px;
		position: relative;
		margin-bottom: 10px;

		&:before{
			content:" ";
			width: 7px;
			height: 5px;
			background: url(images/arrow.png) no-repeat;
			display: block;
			position: absolute;
			top:10px;
			left:0;
		}
	}
}

.boxed-feature{
	background: $seashell;
	border-radius: 5px;
	padding: 20px 30px;
	margin-bottom: 30px;

	i,.feature-desc{
		display: inline-block;
		vertical-align: middle;
	}
	i{
		@include em(48);
		color: $accent-color;
		margin-right: 20px;
		margin-top: -10px;
	}
	.feature-title{
		margin-bottom: 0;
		font-weight: 300!important;
	}
}

.contact-form{
	input:not([type="submit"]),textarea{
		width:100%;
		margin-bottom: 10px;
		transition: .3s ease;
		&:focus,&:hover{
			border-color: $accent-color;
		}
	}
	textarea{
		min-height: 150px;
		margin-bottom: 20px;
	}
}

.planNeeds {
  background-color: #e3e3e3;
  padding-top: 115px;

  h2 {
    color: black !important;
  }
}

.opinions {
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url('../images/opinions.png');

  .paginator {
    display: flex;
    justify-content: center;
  }

  .step {
    width: 13px;
    border-radius: 100%;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 2px;
    margin-right: 2px;

    &.active {
      background-color: white;
    }
  }

  blockquote {
    border: 0 none;
    font-family: "crismon-italic";
    color: white;

    * {
      color: white;
    }

    label {
      display: block;
      font-family: monserrat;
      font-size: 17px;
      margin-top: 60px;
      text-align: center;
    }

    span {
      &.first {
        font-size: 60px;
        float: left;
        position: relative;
        top: -17px;
      }

      &.end {
        font-size: 60px;
        display: inline;
        position: absolute;
        transform: rotateY(180deg) rotateX(180deg);
        margin-top: -60px;
        margin-left: 10px;
      }
    }

    p {
      display: inline;
      margin-left: 10px;
    }
  }
}

.values {
  height: auto;
  margin-bottom: 100px;

  .line {
    height: 235px;
    width: 100%;

    p {
      padding: 29px 23px;
      color: white;

      b {
        color: white;
        display: block;
      }

      span {
        display: block;
        height: 161px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        font-family: monserrat;
        font-size: 11px;
        font-weight: lighter;
      }
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.firstLine {
      .image {
        background-position-y: 100%
      }
    }

    .values1 {
      transition: all 0.3s ease-in-out;
      position: relative;

      .image {
        background-image: url('../images/values1.png');
      }

      p {
        background-color: #2d2d2f;
        position: absolute;
        right: 0;
      }

      &:hover {
        p {
          width: 100%;
        }
      }
    }

    .values2 {
      position: relative;

      .image {
        background-image: url('../images/values2.png');
      }

      p {
        background-color: #555557;
        position: absolute;
        right: 0;
      }

      &:hover {
        p {
          width: 100%;
        }
      }
    }

    .values3 {
      position: relative;

      .image {
        background-image: url('../images/values3.png');
        position: absolute;
        right: 0;
      }

      p {
        background-color: #555557;
        z-index: 1;
        position: relative;
      }

      &:hover {
        p {
          width: 100%;
        }
      }
    }

    .values4 {
      position: relative;

      .image {
        background-image: url('../images/values4.png');
        position: absolute;
        right: 0;
      }

      p {
        background-color: #232325;
        position: relative;
        z-index: 1;
      }
      &:hover {
        p {
          width: 100%;
        }
      }
    }

    > div {
      width: 50%;
      float: left;

      > * {
        width: 50%;
        float: left;
        height: 235px;
        margin: 0;
      }
    }
  }
}

.ourTeam {
  background-image: url('../images/ourTeam.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position-y: 100%;

  .container {
    height: 100vh;
  }

  .topPart {
    padding-top: 75px;
  }

  .bottomPart {
    flex-grow: 1;
    width: 100%;
    display: flex;

    .map {
      flex-grow: 1;
      background-repeat: no-repeat;
      background-size: auto 85%;
    }
  }

  h2 {
    color: black !important;
  }

  .map {
    background-image: url('../images/map.png');
  }

  .nico .image{
    background-image: url('../images/nico.png');
  }

  .caro .image{
    background-image: url('../images/caro.png');
  }

  .caro {
    margin-right: 10px;
  }

  .nico {
    margin-right: 10px;
  }

  .pablo .image{
    background-image: url('../images/pablo.png');
  }

  .pictures,
  .pictures .nico,
  .pictures .caro,
  .pictures .pablo,{
    display: flex;
    align-items: flex-end;
    margin-bottom: 100px;
  }

  .nico,
  .caro,
  .pablo {
    position: relative;

    &:hover {
      .image {
        width: 200px;
        height: 252px;
        filter: blur(5px);
      }

      .info {
        opacity: 1;
      }
    }
  }

  .info {
    opacity: 0;
    position: absolute;
    height: 94%;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.7);
    right: 3%;
    bottom: 3%;
    padding: 10px;

    .name {
      font-family: monserrat;
      font-size: 13px;
      margin: 0;
    }

    .position {
      font-family: "crismon-italic";
      font-size: 14px;
      display: block;
    }

    hr {
      color: black;
      border: 1px solid black;
      width: 70%;
      float: left;
      margin: 6px 0 6px 0;
    }

    a {
      clear: both;
      float: left;
      background-color: black;
      padding: 1px 2px 1px 3px;
      border-radius: 4px;

      &:before {
        color: white;
      }
    }
  }

  .infoContent {
    position: absolute;
    bottom: 10px;
  }

  .nico .image,
  .caro .image,
  .pablo .image {
    width: 170px;
    height: 222px;
    background-size: 100%;
    cursor: pointer;
  }
}

.aboutUs {
  padding-top: 0;

  h2 {
    color: #a29a9a !important;
    margin-bottom: 6px;
  }

  .container {
    display: flex;
    height: 90%;
    position: relative;
    top: 15%;
    flex-direction: column;
  }

  button {
    background-color: #f6f9fc;
    font-family: monserrat;
    font-size: 15px;
    margin-top: 25px;
  }

  .text {
    background-color: #003875;
    padding: 71px 39px 39px;
    margin-top: -54px;
    z-index: 0;
    text-align: center;
    position: relative;
    top: -54px;

    svg {
      g {
        fill: #293b50;
      }
    }

    p {
      color: white;
      margin-top: 11px
    }
  }
}

section {
  padding-top: 155px;
  height: 100vh;

  &.planSelected {
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plans {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .planItem {
    width: 31.5%;
    background-color: white;
    padding: 5px;
    height: 553px;
    position: relative;
    display: flex;
    flex-direction: column;

    p {
      padding: 0 22px;
      font-size: 16px;
      font-family: "crismon-italic";
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: block;
        text-align: center;
      }
    }

    .image {
      padding-top: 100%;
      background-repeat: no-repeat;
      background-size: 100%;

      &.plan1 {
        background-image: url('../images/plan1.png');
      }
      &.plan2 {
        background-image: url('../images/plan2.png');
      }
      &.plan3 {
        background-image: url('../images/plan3.png');
      }
    }
  }

  h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.servicesSection {
  background-color: #2e3152;

  .sectionDescription {
    font-family: crismon;
    color: white;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 85px;
  }

  h2 {
    color: white;
  }

  .servicesContainer {
    display: flex;
    width: 100%;
    margin-bottom: 85px;

    .serviceContainer {
      border: 1px solid #6d6f78;
      padding: 55px 30px 0 30px;
      height: 374px;
      width: 24%;
      margin-right: 1%;
      position: relative;

      .icon {
        color: white;
        position: absolute;
        top: -18px;
        left: 50%;
        font-size: 35px;
        margin-left: -22px;
        background-color: #2e3152;
        padding-left: 10px;
        padding-right: 10px;
      }

      h3 {
        text-transform: uppercase;
        color: white !important;
        font-family: monserrat !important;
        font-size: 15px;
        text-align: center;
        font-weight: lighter !important;
      }

      p {
        margin-top: 50px;
        text-align: center;
        color: white;
      }
    }
  }

  svg {
    g {
      fill: white;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 37px;

  .start {
    background-color: #003065;
    color: white;
    border-radius: 100%;
    padding: 10px 9px;
  }

  .end {
    background-color: #123358;
    color: #123358;
    border-radius: 100%;
    padding-bottom: 3px;
  }

  .main {
    flex-grow: 1;
    width: 1px;
    background-color: #003065;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    > div {
      width: 16px;
      height: 16px;
      margin-left: -8px;
      border-radius: 100%;
      background-color: #123358;
      cursor: pointer;
      position: relative;

      &:nth-child(odd) {
        .baloon {
          position: absolute;
          left: 100%;

          p {
            background-color: white;
            position: relative;
            border: 1px solid black;
            margin-left: 16px;
            margin-top: -20px;
            min-height: 44px;
            padding: 11px;
            border-radius: 6px;
            width: 485px;
            font-size: 12px;

            b {
              display: block;
            }
          }

          .hover {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            border-bottom: 1px solid;
            left: 6px;
            margin-top: -3px;
          }

          .arrowEnd {
            background-color: white;
            height: 9px;
            width: 10px;
            position: absolute;
            left: 15px;
            z-index: 2;
            top: 7px;
          }

          .arrow {
            width: 15px;
            height: 15px;
            border: 1px solid black;
            transform: rotate(45deg);
            margin-left: 9px;
            position: absolute;
          }
        }
      }

      &:nth-child(even) {
        .baloon {
          position: absolute;
          right: 100%;

          p {
            background-color: white;
            position: relative;
            border: 1px solid black;
            margin-right: 16px;
            margin-top: -20px;
            min-height: 44px;
            padding: 11px;
            border-radius: 6px;
            width: 485px;
            font-size: 12px;

            b {
              display: block;
            }
          }

          .hover {
            right: 6px;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            border-bottom: 1px solid;
            margin-top: -3px;
          }

          .arrowEnd {
            background-color: white;
            height: 9px;
            width: 10px;
            position: absolute;
            z-index: 2;
            top: 7px;
            right: 15px
          }

          .arrow {
            width: 15px;
            height: 15px;
            border: 1px solid black;
            transform: rotate(45deg);
            margin-right: 9px;
            position: absolute;
            right: 0;
          }
        }
      }

      .baloon {
        &.important {
          p, b {
            background-color: #003065;
            color: white;
          }

          .arrowEnd {
            background-color: #003065;
          }

          .arrow {
            background-color: #003065;
          }
        }
      }
    }
  }
}

.contactSection {
  background-image: url('../images/contact.png');
  background-repeat: no-repeat;
  position: relative;

  .container.contact {
    background-color: #8c2a2a;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;

    .contact-detail {

      svg {
        width: 70%;
        margin-bottom: 21px;
      }
      address * {
        font-family: monserrat;
        font-size: 13px;
        color: white;
      }
    }

    input[type="submit"] {
      background-color: #464646 !important;
      border: 0 none;

      &[disabled] {
        background-color: #807e7e !important;
        color: #bbb8b8;
      }
    }

    .formError {
      display: none;
    }
  }
}


@media (max-width: $mobile) {
  .home {
    h1 {
      margin-top: 60px;
      font-size: 22px !important;
    }

    .formQuotient {
      width: 100% !important;
    }

    .bottomPart {
      display: none;
    }
  }

  section {
    padding-top: 65px !important;
    min-height: 100vh !important;
    height: auto !important;
  }

  .servicesContainer {
    display: block !important;

    .serviceContainer {
      width: 100% !important;
      margin-bottom: 40px;
    }
  }

  .servicesSection {
    width: 100%;
  }

  .plans {
    display: block !important;

    .planItem {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .aboutUs {

    .container {
      display: block;
      margin-top: 30px !important;
    }
    .text {
      top: 0;
      margin: 0;
    }
  }

  .values {
    .line {
      height: auto !important;
    }
    .image {
      display: none;
    }

    .values1 {
      width: 100% !important;
      float: none;
      clear: both;
      height: 250px;
      left: 15px;

       p {
         width: 100%;
         left: -15px;
       }
    }

    .values2 {
      width: 100% !important;
      float: none;
      clear: both;
      height: 250px;
      left: 15px;

      p {
        width: 100%;
        left: -15px;
      }
    }

    .values3 {
      width: 100% !important;
      float: none;
      clear: both;
      height: 250px;
      left: 15px;

      p {
        width: 100%;
        left: -15px;
      }
    }
    .values4 {
      width: 100% !important;
      float: none;
      clear: both;
      height: 250px;
      left: 15px;

      p {
        width: 100%;
        left: -15px;
      }
    }
  }

  .ourTeam {
    display: block;
    height: auto !important;
    background-image: none;
    background-color: #d2d1d1;

    .container {
      height: auto !important;
    }
    .map {
      display: none !important;
    }

    .pictures {
      display: block !important;
      width:100%;

      > div {
        margin-bottom: 10px !important;
        display: block !important;

        &:hover {
          .image {
            width: 170px !important;
            height: 222px !important;
          }
        }
      }

      .info {
        width: 170px !important;
        height: 222px !important;
        position: relative !important;
        bottom: inherit;
        left: 50%;
        margin-left: -85px;
        margin-top: -222px;
      }

      .image {
        position: relative;
        left: 50%;
        margin-left: -85px;
        width: 170px;
        height: 222px;
      }
    }
  }
  .aboutUs {
    svg {
      width: 100%;
    }
  }

  .faq {
    display: block;

    .main {
      display: block;
      width: 100%;
      padding-left: 10px;
      padding-right: 8px;

      > div {
        width: 100%;
        height: auto !important;
        margin: 0;

        .baloon {
          position: relative !important;
          left: 0 !important;
        }
      }

      p {
        margin: 5px 0 0 0 !important;
      }
    }

    .start,
    .end,
    .arrowEnd,
    .arrow,
    .hover{
      display: none;
    }

    .main {
      background-color: transparent;
      > div {
        background-color: transparent;
      }
    }
  }

  .contactSection .container.contact .contact-detail svg {
    width: 40% !important;
  }

  .contactSection {
    background-image: none;
  }

  .values1 {
    height: 290px !important;
    p {
      height: 275px !important;
      span {
        height: 211px !important;
      }
    }
  }

  .values3 {
    height: 310px !important;
    p {
      height: 295px !important;
      span {
        height: 231px !important;
      }
    }
  }

  .values4 {
    height: 290px !important;
    p {
      height: 275px !important;
      span {
        height: 211px !important;
      }
    }
  }

  .baloon p {
    width: 100% !important;
  }

  .container.contact {
    width: 100% !important;
  }

  .values p {
    right: 5% !important;
  }

  video {
    width: 100% !important;
  }

  .details {
    height: 410px !important;
    min-height: auto !important;
  }

  .container.home {
    width: 100% !important;
  }
}

.site-footer {
  display: none;
}
