<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/']">Home</a>
    <span>Payment cancelled</span>
  </div>
</div>
<div class="page cancelled">
    <div class="container">
        <div class="quotient-border topleft"></div>
      <div class="quotient-border topright"></div>
      <div class="quotient-border bottomright"></div>
      <div class="quotient-border bottomleft"></div>
      <h3 class="entry-title">Oops! Something went wrong</h3>
      <p>Your order has been cancelled, please try again.</p>
    </div>
</div>
