/* You can add global styles to this file, and also import other style files */
[data-bg-color="#f1f1f1"] {
  background-color: #f1f1f1;
}
[data-bg-color="#0f75bd"] {
  background-color: #0f75bd;
}


#titleBar, #navPanel {
  display: none;
}
