<!--breadCrumb-->
<div class="breadcrumbs">
  <div class="container">
    <a [routerLink]="['/']">Home</a>
    <span>Resources</span>
  </div>
</div>
<div class="page">
  <div class="container">
    <h3 class="entry-title">Choose your own insurance plan</h3>
    <p>Nam posuere purus vitae est sollicitudin placerat. Praesent posuere porta dignissim. Phasellus viverra, urna a convallis tincidunt, ante mi tempor turpis, nec tempor mauris ligula ut sapien. Etiam euismod mi eu ante mollis commodo. Suspendisse porta nisi vitae dui hendrerit, eget ornare orci semper. Phasellus pharetra, erat sit amet rutrum porttitor, est eros consectetur elit, molestie consequat erat tellus in dui. Vestibulum a vehicula sem. Nullam commodo quis purus in volutpat. Integer semper lacus a lorem efficitur auctor curabitur tincidunt ligula non.</p>

    <div class="row">
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Praecent posuere</h3>
        <ul class="arrow-list">
          <li>Nam posuere purus vitae</li>
          <li>Praesent posuere porta</li>
          <li>Phasellus viverra urna</li>
          <li>Convallis tincidunt ante</li>
          <li>Tempor turpis nec tempor</li>
          <li>Mauris ligula ut sapien</li>
        </ul>
      </div>
    </div> <!-- .row -->

    <div class="row">
      <div class="col-md-6">
        <div class="boxed-feature">
          <i class="icon-document-person"></i>
          <div class="feature-desc">
            <h2 class="feature-title">Client form download</h2>
            <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
          </div>
        </div>

        <div class="boxed-feature">
          <i class="icon-bell-2"></i>
          <div class="feature-desc">
            <h2 class="feature-title">Alert download</h2>
            <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="boxed-feature">
          <i class="icon-man-chart"></i>
          <div class="feature-desc">
            <h2 class="feature-title">Statistics download</h2>
            <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
          </div>
        </div>

        <div class="boxed-feature">
          <i class="icon-folder"></i>
          <div class="feature-desc">
            <h2 class="feature-title">Briefs download</h2>
            <p>Praesent posuere porta dignissim phasellus viverra convallis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
